:root {
    --CORNFLOWER: #E7E9FC;
    --WHITE: #FFF;
    --SLATE: #434455;
    --NAVY-BLUE: #2E2F42;
    --IRIS: #4D5AE5;
    --CLOUD: #F4F4FD;
    --OCEAN: #404BBF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--SLATE);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.32px;
}

.footer {
    background-color: var(--NAVY-BLUE);
    color: var(--CLOUD);
}

.logo footer {
    color: var(--CLOUD);
}

.logo span {
    color: var(--IRIS);
}

.logo {
    font-family: Raleway;
    font-style: normal;
    font-size: 18px;
    font-weight: 800;
    line-height: 116.667%;
    text-decoration: none;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

#logo-id {
    color: var(--NAVY-BLUE);
}

h2 {
    text-align: center;
}

/* .team-members {
    list-style: none;
    padding-left: 0;
} */

/* .platform-types {
    list-style: none;
    padding-left: 0;
} */

.list {
    list-style: none;
    padding-left: 0;
}

.link {
    text-decoration: none;
    color: var(--NAVY-BLUE);
}

.link:hover, .link:focus {
    color: var(--OCEAN);
}

.hero {
    background-color: var(--NAVY-BLUE);
    color: var(--WHITE);
}

.nav-list {
    color: var(--NAVY-BLUE);
    font-weight: 500;
}

.hero h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: 700;
    line-height: 107.143%;
    letter-spacing: 1.12px;
}

.hero button {
    background-color: var(--IRIS);
    text-align: left;
    color: var(--WHITE);
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111%;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.4px;
}

.nav-list {
    padding: 0;
    margin: 0;
    border: 0px;
    border-collapse: collapse;
}

.contact-list {
    padding: 0;
    margin: 0;
    border: 0px;
    border-collapse: collapse;
}

.order-button {
    background-color: var(--IRIS);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.order-button:hover, .order-button:focus {
    background-color: var(--OCEAN);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}